* {
  margin: 0;
}

.title {
  /* border: 1px solid black; */
  width: 100%;
  height: 70px;
  background: rgb(1, 119, 197);
  font-size: 1.8rem;
  color: rgb(220, 220, 220);
  text-align: center;
  line-height: 70px;
}

/* menu */
.menu {
  /* border: 1px solid greenyellow; */
  width: 100%;
  height: 250px;
  margin-top: 20px;
}
.menu div {
  /* border: 1px solid pink; */
  width: 200px;
  height: 100%;
  float: left;
}

.menu .left {
  width: 300px;
}
.menu .left p {
  border: 1px solid #ccc;
  width: 100%;
  height: 50px;
  /* text-align: center; */
  text-indent: 20px;
  line-height: 50px;
}
.menu .left p:hover {
  cursor: pointer;
  background: rgb(227, 227, 227);
}

.menu .right {
  /* border: 1px solid yellow; */
  width: 700px;
  position: relative;
  top: 0;
  left: 0;
}
.menu .right div {
  /* border: 1px solid aqua; */
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  cursor: pointer;
}
.menu .right div .icon {
  font-size: 5rem;
  /* border: 1px solid pink; */
  width: 30%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  margin-top: 20px;
}
.menu .right div .icon_text {
  /* border: 1px solid blue; */
  width: 30%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.8rem;
  margin-top: -20px;
}

/* detail */
.content {
  position: absolute;
  top: 100px;
  left: 1000px;
  border: 1px solid gray;
  width: 900px;
  height: 700px;
  background: white;
  display: none;
}

.content .content_title {
  /* border: 1px solid red; */
  width: 90%;
  height: 70px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.content .content_title p {
  /* border: 1px solid gray; */
  width: 20%;
  height: 80%;
  border-radius: 20px;
  text-align: center;
  line-height: 58px;
  font-size: 2rem;
}
.content .content_title p:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.content .content3_box {
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.content .content3_box div {
  width: 20%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
}
.content .content3_box div:hover {
  background-color: rgb(200, 221, 239);
}
.content .content3_img {
  border: 3px solid black;
  width: 50%;
  height: 300px;
  margin: 50px auto;
  text-align: center;
  background: url(../img/blueprint-370588_1280.jpg);
  background-size: 100% 100%;
}
.content .content3_img_text {
  /* border: 1px solid black; */
  width: 50%;
  height: 30px;
  margin: -50px auto;
  text-align: center;
  line-height: 30px;
}

.content4 {
  background: url(../img/smartphone-6265046_1280.jpg);
  background-size: 100% 100%;
}

.content .content15_box {
  /* border: 1px solid orange; */
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
}
.content .content15_box div {
  /* border: 1px solid black; */
  height: 100%;
  text-align: center;
}
.content .content15_box div:first-child {
  width: 70%;
}
.content .content15_box div:last-child {
  width: 30%;
}
.content .content15_box div img {
  width: 400px;
  margin-top: 50px;
}
.content .content15_box div p {
  /* border: 1px solid black; */
  width: 80%;
  height: 40px;
  line-height: 40px;
  text-align: left;
  margin: 10px auto;
}

.content4 {
  display: block;
}
