* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 20px;
}

.menu {
  border: 1px solid blue;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}

.menu li {
  border: 1px solid green;
  width: 200px;
  height: 100%;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.big {
  border: 1px solid red;
  width: 1000px;
  height: 500px;
  margin: 100px auto;
}

.big img {
  width: 100%;
  height: 100%;
}

.no {
  border: 1px solid blue;
  width: 30px;
  height: 30px;
  margin: auto;
  text-align: center;
  line-height: 30px;
}

#arrow {
  /* border: 1px solid black; */
  width: 1200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
}

#arrow li {
  /* border: 1px solid red; */
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
